.calculator {
    width: 10.19rem;

    &__display {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        padding: 28px 23px;
        width: 100%;
        height: 2.72rem;
        margin-bottom: 25px;
        border-radius: 10px;
        color: $keyorangebackground--one;
        font-size: 1.22rem;
        background-color: $screenbackground--one;
        overflow: hidden;
        row-gap: .3rem;
        
    }

    &__mini {
        font-size: .4rem;
    }

    &__buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: $screenbackground--one;
        padding: 24px;
        border-radius: 10px;

        column-gap: 13px;
        row-gap: 17px;

        user-select: none;
    }

    &__button {
        border: none;
        border-radius: 5px;
        background-color: $keyorangebackground--one;
        color: $textdark--one;
        padding: 16px;
        cursor: pointer;
        box-shadow: 0 4px $keyorangeshadow--one;
        outline: none;

        &:hover {
            background-color: $hover--one;
        }
        
        &.clicked {
            background-color: $hover--one;
            transform: translateY(4px);
            box-shadow: 0 4px $hover--one;
        }

        &--del {
            font-size: .6rem;
            color: $hover--one;
            background-color: $keybackground--one;
            border: none;
            border-radius: 5px;
            box-shadow: 0 4px $keyshadow--one;
            cursor: pointer;

            &:hover {
                background-color: $hoverdark--one;
            }
            
            &.clicked {
                background-color: $hoverdark--one;
                transform: translateY(4px);
                
            }

        }

        &--reset {
            grid-column: 1 / 3;
            font-size: .6rem;
            padding: 20px;
            color: $hover--one;
            background-color: $keybackground--one;
            border: none;
            border-radius: 5px;
            box-shadow: 0 4px $keyshadow--one;
            cursor: pointer;

            &:hover {
                background-color: $hoverdark--one;
            }
            
            &.clicked {
                background-color: $hoverdark--one;
                transform: translateY(4px);               
            }
          
        }

        &--equal {
            grid-column: 3 / 5;
            font-size: .6rem;
            padding: 20px;
            color: $hover--one;
            background-color: $keyredbackground--one;
            border: none;
            border-radius: 5px;
            box-shadow: 0 4px $keyredshadow--one;
            cursor: pointer;

            &:hover {
                background-color: $hoverred--one;
            }
            
            &.clicked {
                background-color: $hoverred--one;
                transform: translateY(4px);
                
            }

        }
    }
}





